/.gradle/                                                                                                                                                  
**/build
*.iml
*.iws
*.ipr
*generated-sources
/.idea/
out/
logs/
*.gradle/*
